$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// div {
//     background: rgb(200, 54, 25); /* fallback */
//     background: rgba(200, 54, 34, 0.5);
//   // background:  #bce6df;/* 50% transparent */
// }
 body{
   background : url('./image/garage.png') beige;
   font-style: italic;
   background-size: cover;
   background-position: left bottom;
  //  background-attachment: fixed;
   font-weight: bold;
   font-size: 25px;
  // opacity: 0.2;
  //  filter: alpha(opacity=50);
  overflow-x: hidden;

   color: #7FFFD4;
 }

.container-fluid {
  padding: 0;
}

#tog{ font-size: 28px;
  color: #800000;
  background: rgba(248,248,255, 0.2);
  font-style: italic;
  float:left;
}
#tcar{font-size: 28px;
  color: #800000;
  font-style: oblique;
  float:left;
  background: rgba(248,248,255, 0.2);
}

.removebtn:hover{
  color: blue;
}
.removebtn{
color: #228B22;
}

.update:hover{
color: pink;
}
.update{
color: #228B22;
}
