$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// div {
//     background: rgb(200, 54, 25); /* fallback */
//     background: rgba(200, 54, 34, 0.5);
//   // background:  #bce6df;/* 50% transparent */
// }
 body{
   background : url('./image/cars_garage.png');
   font-style: italic;
   background-size: cover;
   font-weight: bold;
 }

#tog{ font-size: 25px;
  background: rgba(200, 54, 34, 0.1);
  font-style: italic;
  float:left;
}
#tcar{font-size: 25px;
  color: black;
  font-style: italic;
  float:left;
  background: rgba(200, 54, 34, 0.1);

}

.removebtn:hover{
  color: blue;
}
.update:hover{
color: pink;
}
